* {
  background-color: #212529 !important;
  color: #fff;
}

.nextButton,
.finishButton,
.choiceButton {
  background-color: #0b66c3 !important;
  padding: 2%;
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  position: relative !important;
  border-radius: 18px !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}

.nextButton,
.finishButton {
  margin: 5% 0 0 0;
  width: 35%;
}

.nextButton {
  margin-right: 29%;
}
.choiceButton {
  margin: 1.5%;
  width: 100%;
}

#quiz-container {
  margin-top: 30px;
}

#choices {
  margin: 20px 0;
}

.resposta {
  margin-top: 20%;
  text-align: center;
}

.secondContents {
  display: none;
}
